In [50]:
import pandas as pd

df = pd.read_csv('data/DelayedFlights-updated.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   Year               1000 non-null   int64
 2   Month              1000 non-null   int64
 3   DayofMonth         1000 non-null   int64
 4   DayOfWeek          1000 non-null   int64
 5   DepTime            1000 non-null   int64
 6   CRSDepTime         1000 non-null   int64
 7   ArrTime            990 non-null    float64
 8   CRSArrTime         1000 non-null   int64
 9   UniqueCarrier      1000 non-null   object
 10  FlightNum          1000 non-null   int64
 11  TailNum            1000 non-null   object
 12  ActualElapsedTime  990 non-null    float64
 13  CRSElapsedTime     1000 non-null   int64
 14  AirTime            990 non-null    float64
 15  ArrDelay           990 non-null    float64
 16  DepDelay           1000 non-null   int64
 17  Origin             1000 non-null   object
 18  Dest               1000 non-null   object
 19  Distance           1000 non-null   int64
 20  TaxiIn             990 non-null    float64
 21  TaxiOut            1000 non-null   int64
 22  Cancelled          1000 non-null   int64
 23  CancellationCode   1000 non-null   object
 24  Diverted           1000 non-null   int64
 25  CarrierDelay       760 non-null    float64
 26  WeatherDelay       760 non-null    float64
 27  NASDelay           760 non-null    float64
 28  SecurityDelay      760 non-null    float64
 29  LateAircraftDelay  760 non-null    float64
dtypes: float64(10), int64(15), object(5)
memory usage: 234.5+ KB

In [51]:
df['Diverted'].head()

0    0
1    0
2    0
3    0
4    0
Name: Diverted, dtype: int64

In [52]:
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1000.000000,1000.000000,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,990.000000,1000.000000,1000.000000,...,1000.000000,990.000000,1000.000000,1000.0,1000.000000,760.000000,760.000000,760.000000,760.000000,760.000000
mean,500.500000,2006.907000,6.0,15.498000,4.05400,1482.292000,1448.495000,1548.412121,1551.941000,1412.514000,...,880.088000,8.475758,20.875000,0.0,0.010000,17.017105,3.446053,19.878947,0.015789,28.830263
std,288.819436,2.299922,0.0,8.566644,2.07253,442.275648,393.308214,581.280682,518.780035,26.924612,...,442.944715,7.212709,17.551679,0.0,0.099549,36.012675,15.267392,41.619027,0.435286,39.344683
min,1.000000,2003.000000,6.0,1.000000,1.00000,3.000000,600.000000,1.000000,5.000000,1362.000000,...,175.000000,2.000000,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,250.750000,2005.000000,6.0,8.000000,2.00000,1216.000000,1155.000000,1310.250000,1305.000000,1391.000000,...,569.000000,4.000000,12.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,500.500000,2007.000000,6.0,15.000000,4.00000,1502.000000,1425.000000,1708.500000,1715.000000,1412.000000,...,837.000000,7.000000,16.000000,0.0,0.000000,0.000000,0.000000,7.000000,0.000000,15.000000
75%,750.250000,2009.000000,6.0,23.000000,6.00000,1740.500000,1715.000000,1943.750000,1873.000000,1437.000000,...,1192.000000,10.000000,22.000000,0.0,0.000000,17.000000,0.000000,22.000000,0.000000,42.000000
max,1000.000000,2010.000000,6.0,30.000000,7.00000,2355.000000,2305.000000,2357.000000,2355.000000,1459.000000,...,1745.000000,86.000000,206.000000,0.0,1.000000,321.000000,187.000000,771.000000,12.000000,352.000000

In [53]:
df['ArrDelay'].describe()

count    990.000000
mean      54.257576
std       57.872243
min      -16.000000
25%       16.000000
50%       37.000000
75%       77.000000
max      771.000000
Name: ArrDelay, dtype: float64

In [54]:
df.loc[df['ArrDelay'] - df['CarrierDelay'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [55]:
df.loc[df['ArrDelay'] - df['NASDelay'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [56]:
df.loc[df['ArrDelay'] - df['WeatherDelay'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [57]:
df.loc[df['ArrDelay'] - df['LateAircraftDelay'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [58]:
df.loc[df['ArrDelay'] - df['SecurityDelay'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]